:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --first-accent-color: #4d5ae5;
  --second-accent-color: #f4f4fd;
  --hero-color: #ffffff;
  --text-color: #e7e9fc;
  --color-active: #404bbf;
  --l-gra: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --border-color: #8e8f99;
  --activ-var-two: #37d0aa;
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
  
}
.link {
  text-decoration: none;
font-style: normal;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--hero-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container{
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.head-container{display: flex;
align-items: center;
justify-content: space-between;}

.flexnav {
  display: none;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-accent-color);
  padding: 17px 0;
}
/*==========menu===mob===========*/
 .mob-menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob-menu.is-open{opacity: 1;
visibility: visible;
pointer-events: auto;
height: 100%;
width: 100%;
margin: 0 auto;

}



.menu-format{
  max-width: 320px;
  margin: 0 auto;
  display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
padding: 72px 24px 40px 16px;}

.menu-btn-x {
  /* background-color: var(--second-accent-color); */
  width: 24px;
    height: 24px;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 24px;
    right: 24px;   
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.menu-link.link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}


.m-li:not(:last-child) {
  margin-bottom: 40px;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.menu-link.curent {
  color: var(--color-active);
  transition: color var(--time);
}

.menu-ad-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.mn-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mn-link:hover,
.mn-link:focus {
  color: var(--primary-text-color);
  transition: var(var(--color-active));
}


/* Logotypy */


.f-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-accent-color);
}

.accent-head {
  color: var(--secondary-text-color);
}

.accent-foot {
  color: var(--second-accent-color);
}
/* ===hero===section=== */
.hero-section {
  /* max-width: 100%; */
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: var(--l-gra), url(../images/Dark-bg-mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-text-color);
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {.hero-section{background-image: var(--l-gra), url(../images/Dark-bg-mb2x.jpg);}}
  
.hero-title {
  max-width: 216px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}

/* section padding */




.our-team-section {
  background-color: var(--second-accent-color);
  padding: 96px 0;
}

.doing-section {
  padding-bottom: 120px;
}

.doing-items {
  margin-right: 24px;
}
.doing-items:last-child {
  margin-right: 0;
}


/* Navigacija */

.navigation {
  align-items: center;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.nav-link.link:hover,
.nav-link.link:focus,
.nav-link.link:active,
.nav-link.curent {
  color: var(--color-active);
  transition: color var(--time);
}


.adress {
  margin-left: auto;
}
.adress-link {
  font-size: 12px;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.adress-link.link:hover,
.adress-link.link:focus {
  color: var(--color-active);
  transition: color var(--time);
}

.adress-list {display: none;
  gap: 12px;
}

/* first section */


.features-list {
  display: flex;
  flex-direction: column;
}
/* .features-list :(not:last-child){gap: 72px;} */

.feature-section{margin: 0 auto;
    padding: 96px 0;
  }
.feature-items {
  width: 264px;
}
.feature-items:not(:last-child){margin-bottom: 72px;}

.feauter-item-box {
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background-color: var(--second-accent-color);
  border-radius: 4px;
}


.doing {
  display: flex;
  text-align: center;
}

/* Buttons */
.button {
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  color: var(--hero-color);
  background-color: var(--first-accent-color);
  border: 1px solid transparent;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-active);
  color: var(--hero-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--time);
  transition: background-color var(--time);
  transition: box-shadow var(--time);
}
.menu-btn{padding: 0;
background-color: transparent;
cursor: pointer;
line-height: 0;
border:none;}

/* Second section */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;

}

.main-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
    font-size: 16px;
 
}
/* Section titles h2 */
.section-title {
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* Section Our team */
.our-team{display: flex;
flex-direction: column;
text-align: center;
align-items: center;
gap:72px;}

.our-team::last-child{gap: 0;}

.our-team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.our-team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

/* our-team-list:not(:last-child){margin-bottom: 72px;} */

.our-team-list {

  background-color: var(--hero-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-soc-item {
  width: 40px;
  height: 40px;
}
.our-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--first-accent-color);
}
.our-soc-icon, .menu-icon {
  fill: var(--second-accent-color);
}
.our-soc-link:is(:hover, :focus) {
  background-color: var(--color-active);
  transition: background-color var(--time);
}

/* footer */
.footer {
  background-color: var(--secondary-text-color);
  padding: 96px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.f-container {
  max-width: 264px;
  margin-bottom: 72px;
}

.f-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: left;
}

 
.f-soc-logo{text-align: center;}
.f-soc-title {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.5;
  margin-bottom: 16px;
}

.soc-container {
  width: 208px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
 
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.soc-link:is(:hover, :focus) {
  background-color: var(--activ-var-two);
  transition: background-color var(--time);
}
.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--first-accent-color);
}
.soc-list-item {
  width: 40px;
  height: 40px;
}
.soc-list-icon {
  fill: var(--second-accent-color);
}

/* portfolio-list */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-link {
  display: block;
}
.card-set-link:is(:hover, :focus) {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--time);
}
.card-set-link:is(:hover, :focus) .card-cover-text {
  transform: translateY(0);
}
.cards-same {
  padding: 32px 16px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-nosection {
  padding: 72px 0;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  font-weight: 400;
  color: hsla(240, 69%, 97%, 1);
  line-height: 1.5;
  background-color: hsla(235, 75%, 60%, 1);
  height: 100%;
  top: 0;
  padding: 40px 32px 164px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/* Customers section 5 */
.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.custom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.custom-item {
  height: 88px;
  width: 168px;
}

.custom-link {
  width: 100%;
  height: 100%;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-icon {
  fill: var(--border-color);
}
.custom-link:is(:hover, :focus) {
  border-color: var(--color-active);
  transition: border-color var(--time);
}
.custom-link:is(:hover, :focus) .custom-icon {
  fill: var(--color-active);
  transition: fill var(--time);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(237, 18%, 22%, 0.4);
  transition: opacity var(--time), visibility var(--time);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  max-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform var(--time);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close{
  width: 24px;
  height: 24px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
}

.modal-close:is(:hover, :focus) {
  background-color: var(--color-active);
  cursor: pointer;
}
.modal-close:is(:hover, :focus) .modal-icon {
  fill: var(--hero-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: 500;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
}

.modal-comment::placeholder,
.f-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.input-text {
  color: #8e8f99;
  line-height: 1.3;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 24px;
}

.label-field {
  margin-bottom: 8px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.input-wrap {
  position: relative;
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  resize: none;
}

.f-form-icon {
  position: absolute;
  top: 80%;
  right:102px;
  transform: translateY(-50%);
  margin-left: 16px;
}

.f-form-all {
  margin-left: auto;
}
.f-input {
  height: 40px;
  width: 264px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.f-button {
  min-width: 165px;
  height: 40px;
  padding: 0 16px;
  text-align: left;}

.f-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.f-input:is(:hover,:focus)  ,
.modal-input:is(:hover,:focus),
.modal-comment:is(:hover,:focus) {
  border-color: var(--first-accent-color);
  transition: border-color var(--time);
}

@media screen and (min-width:768px) {
  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .flexnav {
    display: flex;
    gap: 40px;
  }
.nav-link.link.curent {
  position: relative;
}
.nav-link.link{display: block;
padding: 24px 0;}

.nav-link.link.curent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: var(--color-active);
}
  .mob-men {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }
.hero-section{padding-top: 112px;
padding-bottom: 112px;}

  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
.title{text-align: left;}
  .logo {
    font-weight: 700;
    line-height: 117%;
    margin-right: 120px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  .navigation {
    display: flex;
  }

  ul.list.features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li.feature-items {
    width: 356px;
  }
.feature-items:nth-last-child(-n+2){margin-bottom: 0;}

  .list.our-team {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
.soc-container{margin: 0;}
  .f-soc-logo {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.f-logo,.f-soc-title{text-align: left;}
  .f-form .f-field {
    flex-direction: row;
  }
.f-container{margin: 0;}

  .f-soc-logo .f-form-all {
    margin: 0;
  }

  svg.f-form-icon {
    right: 30px;
    top: 50%
  }

  .portfolio-card-wrap {
    width: 356px;
  }

  ul.list.portfolio-list {
    row-gap: 72px;
  }
}

@media screen and (min-width:768px) and (max-width:1157px){.our-team-container, .f-soc-logo{max-width: 584px;
padding: 0;}}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: var(--l-gra), url(../images/Dark-bg-tab2x.jpg);
  }
}

@media screen and (min-width:1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
.hero-section{max-width: 1440px;
padding-top: 188px;
padding-bottom: 188px;}

  .logo {
    margin-right: 76px;
  }

  .hero-title {
    margin-bottom: 48px;
    font-weight: 700;
  }

  .nav-link {
    padding: 24px 0;
  }

  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .adress-link{font-size: 16px;}

.f-soc-logo{justify-content:space-around;}
  .feature-items .feauter-item-box {
    display: flex;
  }
.title{font-size: 20px;
font-weight: 500;}

.main-text{font-weight: 400;}

  .features-list .feature-items {
    margin: 0;
    width: 264px;
  }
.our-team-text.port-text{margin-bottom: 0;}

  .feature-items {
    margin: 0;
  }

  ul.list.our-team {
    flex-wrap: nowrap;
    column-gap: 24px;
    margin: 0;
  }

  li.our-team-list {
    margin: 0;
  }

  ul.list.features-list {
    gap: 24px;
  }

  li.feature-items {
    width: 264px;
    margin: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: var(--l-gra), url(../images/people-office2x.jpg);
  }
}
.modal-input:is(:hover,:focus)~ .input-icon{ 
  fill: var(--first-accent-color);
  transition: fill var(--time);
}

.button-send {
  max-height: 56px;
  margin: 0 auto;
  display: block;
}



.input-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-policy{display: flex;}

.input-check:checked + .input-text span {
  background-color: var(--color-active);
  border: none;
  fill: var(--hero-color);
}

.blue-policy{color: var(--first-accent-color);
  margin-left: 5px;}